html {
    font-family: 'Sunflower', sans-serif;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}